<div style="width: 90%; margin: 0 auto">
  <mat-grid-list cols="3" rowHeight="700px">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image" ></div>
          <mat-card-title>Alejandra Hernandez</mat-card-title>
          <mat-card-subtitle>Colombia</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image1.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una fotógrafa colombiana que ha recorrido el mundo buscando los paisajes más
            increíbles para capturar con su cámara. Ha viajado por más de 50 países, desde los
            desiertos de África hasta las playas de Australia, y ha publicado sus fotos en revistas
            y galerías de todo el mundo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Nicole Rodriguez</mat-card-title>
          <mat-card-subtitle>Argentina</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image2.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una chef que ha recorrido el mundo en busca de nuevos sabores y técnicas
            culinarias. Ha trabajado en los mejores restaurantes de Europa y Asia, y ha aprendido
            de los chefs más renombrados del mundo. Ahora tiene su propio restaurante en Nueva York,
            donde combina las técnicas que aprendió con los ingredientes locales.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sofia Nuñez</mat-card-title>
          <mat-card-subtitle>Bolivia</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image3.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una antropóloga que ha viajado por todo el mundo estudiando las culturas y tradiciones
            de diferentes pueblos. Ha vivido con tribus en África, ha asistido a ceremonias religiosas en
            Asia y ha investigado las prácticas de los pueblos indígenas de América del Sur. Sus investigaciones
            han sido publicadas en revistas académicas y han sido reconocidas en su campo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Ana Valencia</mat-card-title>
          <mat-card-subtitle>Peru</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image4.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una artista que ha recorrido el mundo llevando su música y ritmos latinos a
            diferentes audiencias. Ha tocado en festivales de música en Europa, Asia y América, y
            ha colaborado con músicos de diferentes géneros. Su objetivo es unir a la gente a través
            de la música y compartir la riqueza de la cultura latina.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Natalia Soto</mat-card-title>
          <mat-card-subtitle>Chile</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image5.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una escritora que ha viajado por todo el mundo buscando inspiración
            para sus novelas y ensayos. Ha vivido en diferentes países y ha aprendido sobre
            diferentes culturas y lenguas, lo que ha enriquecido su escritura. Sus obras han
            sido reconocidas en su país y han sido traducidas a varios idiomas.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Adolfo Cortez</mat-card-title>
          <mat-card-subtitle>Peru</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image6.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es un arquitecto que ha viajado por todo el mundo estudiando diferentes estilos
            y técnicas arquitectónicas. Ha trabajado en proyectos en diferentes países y ha sido
            reconocido por su trabajo en la restauración de edificios históricos. Actualmente,
            trabaja en su propio estudio en Madrid, donde combina las técnicas que ha aprendido
            con su propia creatividad.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Maria Gomez</mat-card-title>
          <mat-card-subtitle>Mexico</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image7.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una activista que ha viajado por África y el Medio Oriente promoviendo
            los derechos de las mujeres y la igualdad de género. Ha participado en conferencias
            internacionales y ha colaborado con organizaciones que trabajan por la justicia social
            y los derechos humanos. Su trabajo ha sido reconocido por varias organizaciones y
            ha inspirado a muchas mujeres jóvenes.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Samuel Lee</mat-card-title>
          <mat-card-subtitle>Estados Unidos</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image8.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es un ingeniero que ha viajado por todo el mundo para trabajar en proyectos
            de energía renovable. Ha ayudado a construir parques eólicos y solares en diferentes países
            y ha promovido la transición hacia una economía más sostenible. Su trabajo ha sido reconocido
            por organizaciones ambientales y ha contribuido a reducir la huella de carbono en el mundo.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Zoe Torres</mat-card-title>
          <mat-card-subtitle>Ecuador</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image9.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una bióloga ecuatoriana que ha viajado por diferentes países de América Latina
            y el Caribe para estudiar la biodiversidad de la región. Ha trabajado en proyectos
            de conservación de especies en peligro de extinción y ha colaborado con comunidades
            locales para promover prácticas sostenibles. Sus investigaciones han sido publicadas
            en revistas científicas y han contribuido al conocimiento de la riqueza biológica de la región.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>James Park</mat-card-title>
          <mat-card-subtitle>Peru</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image10.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es un emprendedor que ha viajado por todo el mundo en busca de oportunidades
            de negocio. Ha fundado varias empresas en diferentes sectores, desde la tecnología hasta
            la moda, y ha colaborado con inversionistas de todo el mundo. Su éxito ha sido reconocido
            en su país y ha inspirado a muchos jóvenes emprendedores.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'white'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Sebastian Ponce</mat-card-title>
          <mat-card-subtitle>Peru</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image11.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es una bailarin que ha viajado por Europa y América Latina para aprender
            diferentes estilos de danza y enseñar a otros. Ha colaborado con compañías de ballet
            y danza contemporánea en diferentes países y ha sido reconocido por su técnica y
            creatividad. Actualmente, trabaja como profesor en su propia escuela de danza en Peru.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="1"
      [style.background]="'black'">
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>Rodrigo Tapia</mat-card-title>
          <mat-card-subtitle>Uruguay</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/image12.jpg" height="400" alt="Photo of a Shiba Inu">
        <mat-card-content>
          <p>
            Es un periodista que ha viajado por todo el mundo cubriendo conflictos y crisis
            humanitarias. Ha trabajado en zonas de guerra en Medio Oriente y África, y ha informado
            sobre la situación de refugiados y desplazados. Su trabajo ha sido reconocido por su
            valentía y compromiso con la verdad, y ha contribuido a dar voz a los más vulnerables.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <div class="example-button-container">
            <button (click)="alertWithSuccess()" mat-fab color="accent" aria-label="Example icon button with a home icon">
              <mat-icon>favorite</mat-icon>
            </button>
            <button (click)="alertWithDelete()" mat-fab color="warn" aria-label="Example icon button with a home icon">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>



</div>


