<div class="image-back">
  <mat-card *ngIf="!showElement">
    <mat-card-header style="margin-bottom: 50px;">
      <mat-card-title class="custom-title">PROFILE</mat-card-title>
    </mat-card-header>
    <img class="avatar" src="https://www.softzone.es/app/uploads/2018/04/guest.png" alt="Foto de perfil">
    <div class="Table">
      <mat-card-content>
        <div >
          <p><strong>FirstName:</strong><a>{{UserTraveller.first_name}}</a></p>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <p><strong>LastName:</strong><a>{{UserTraveller.last_name}}</a></p>
        </div>
      </mat-card-content>
      <mat-card-content>
        <div>
          <p><strong>Description:</strong><a>{{UserTraveller.description}}</a></p>
        </div>
      </mat-card-content>


      <mat-card-content>
        <div><p><strong>address:</strong><a>{{UserTraveller.adreess}}</a></p></div>
      </mat-card-content>
      <mat-card-content>
        <div><p><strong>Phone:</strong> <a>{{UserTraveller.phone}}</a></p></div>
      </mat-card-content>
      <mat-card-content>
        <div><p><strong>Email:</strong><a>{{UserTraveller.email}}</a></p></div>
      </mat-card-content>

      <mat-card-content style="align-self: flex-end;">
        <button mat-flat-button [disabled]="buttonDisabled"  style=" background:royalblue;" (click)="toggleElement()">Edit Profile</button>
      </mat-card-content>
    </div>

  </mat-card>
  <mat-card class="Edit" *ngIf="showElement">
    <mat-card-header>
      <p>Edit Profile</p>
    </mat-card-header>
    <mat-card-content>
      <form (submit)="onSumit()" #travellerForm="ngForm">
        <div class="container">
          <mat-form-field appearance="fill"> <!-- placeholder: lo que se pondrá de titulo -->
            <mat-label>firstname</mat-label>
            <input type="text" matInput placeholder="firstname" name="first_name" required [(ngModel)]="UserTraveller.first_name">
          </mat-form-field>
          <mat-form-field appearance="fill"> <!-- placeholder: lo que se pondrá de titulo -->
            <mat-label>lastName</mat-label>
            <input type="text" matInput placeholder="lastName" name="lastName" required [(ngModel)]="UserTraveller.last_name">
          </mat-form-field>
          <mat-form-field appearance="fill"> <!-- placeholder: lo que se pondrá de titulo -->
            <mat-label>description</mat-label>
            <input type="text" matInput placeholder="description" name="description" required [(ngModel)]="UserTraveller.description">
          </mat-form-field>

          <mat-form-field appearance="fill"> <!-- placeholder: lo que se pondrá de titulo -->
            <mat-label>adreess</mat-label>
            <input type="text" matInput placeholder="adreess" name="adreess" required [(ngModel)]="UserTraveller.adreess">
          </mat-form-field>
          <mat-form-field appearance="fill"> <!-- placeholder: lo que se pondrá de titulo -->
            <mat-label>phone</mat-label>
            <input type="text" matInput placeholder="phone" name="phone" required [(ngModel)]="UserTraveller.phone">
          </mat-form-field>

          <button mat-button class="edit" (click)="update()">Edit</button> &nbsp;
          <button mat-button class="edit" (click)="cancel()">cancel</button> &nbsp;
        </div>
      </form>
    </mat-card-content>
  </mat-card>
</div>
