/* Estilos generales */
.container {
  background-image: url("/../../assets/images/3d7d4e06-13d6-4801-ad66-c4b44d961691.jpg");
  background-color: rgba(242, 181, 107, 0.3);
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
}


mat-toolbar {
  background: rgba(242, 212, 121, 0.5);
  color: black;
}

mat-sidenav {
  margin: 16px;
  width: 200px;
  border-right: none;
  background: rgba(89, 25, 11, 0.7);
  color: black;
  border-radius: 10px;
  padding: 16px;
  text-align: center;
}

.content {
  height: calc(100vh - 98px);
  margin: 16px 16px 0px 32px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
  border-radius: 10px;
}

::-webkit-scrollbar {
  display: none;
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.menu-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1rem;
}

mat-icon {
  margin-right: 8px;
}

.avatar {
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.avatar1 {
  margin-right: 50rem;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.name {
  margin-top: 8px;
  font-weight: normal;
}

.designation {
  margin-top: 2px;
  font-size: 0.7rem;
  color: black;
}

mat-divider {
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: black;
}

.example-spacer {
  flex: 1 1 auto;
}

/* Estilos responsive */
@media only screen and (max-width: 600px) {
  .content {
    margin: 16px;
  }
}

@media only screen and (max-width: 480px) {
  .container {
    background-size: contain;
  }

  .content {
    margin: 8px;
  }

  .avatar,
  .avatar1 {
    width: 80px;
    height: 80px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    background-size: auto;
  }

  .content {
    margin: 4px;
  }

  .avatar,
  .avatar1 {
    width: 60px;
    height: 60px;
  }
}
