.mm{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.image{
  width: 100px;
  height: 100px;
  padding-bottom: 10px;
}

.product-card {
  width: 400px;
  background-color: #DCE4FC;
  color: black;
}

.title-row {
  text-align: center;
  width: 100%;
  padding-bottom: 10px;
}

.clean-row {
  padding-top: 10px;
  text-align: center;
}

.header {
  text-align: center;
  margin: 50px;
}

.but {
  margin-top: 50px;
  color: white;
  background-color: #3F51B5;
}

.icon-display {
  transform: scale(5);
  display: flex;
  justify-content: center;
}


.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}

.back-button {
  background-color: #DCE4FC;
  text-align: center;
}
