<app-header-users></app-header-users>
<mat-card>

    <mat-card-header style="margin-bottom: 50px;">
      <mat-card-title class="custom-title">PROFILE</mat-card-title>
    </mat-card-header>

  <img class="avatar" src="https://www.softzone.es/app/uploads/2018/04/guest.png" alt="Foto de perfil">





  <mat-card-content>
    <p><strong>Nombre:</strong> John Doe</p>
    <p><strong>Edad:</strong> 30 años</p>
    <p><strong>Teléfono:</strong> 1234567890</p>
    <p><strong>Email:</strong> johndoe@example.com</p>
    <p><strong>Tipo:</strong> Usuario</p>
  </mat-card-content>
</mat-card>
<app-fotter></app-fotter>
