<mat-toolbar color="primary" class="toolbar">
  <div class="left-container">
    <span class="company-name">Nombre de la empresa</span>
  </div>
  <div class="right-container">
    <ng-container *ngIf="Type === 'viajero'">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/profile/{{ id }}">Perfil</button>
      <button mat-button routerLink="/friends/{{ id }}">Lista de amigos</button>
    </ng-container>
    <ng-container *ngIf="Type === 'empresario'">
      <button mat-button routerLink="/home">Home</button>
      <button mat-button routerLink="/places">Lugares</button>
      <button mat-button routerLink="/plans">Planes</button>
    </ng-container>
  </div>
  <div class="search">
    <mat-form-field>
      <input matInput placeholder="Buscar">
      <i class="fa fa-search"></i>
    </mat-form-field>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
<footer class="container" >
  &copy; @Copyright 2023 TripBuddies - UPC
</footer>
