

  <mat-card style="display: flex; align-items: center;">
    <mat-card-header>
    <mat-card-title style="padding:10px; font-size:20px">Solicitar servicios de tour:</mat-card-title>
    </mat-card-header>
    <mat-card-actions>
        <mat-card-title style="padding:10px; font-size:14px">Seleccione su distrito:</mat-card-title>
          <mat-form-field>
            <mat-label>Distrito</mat-label>
            <mat-select>
              <mat-option *ngFor="let district of districts" [value]="district.value">
                {{district.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
      </mat-card-actions>
    <mat-card-actions>
      <mat-card-title style="padding:10px; font-size:14px">Seleccione su preferencia:</mat-card-title>
        <mat-form-field>
          <mat-label>Preferencias</mat-label>
          <mat-select>
            <mat-option *ngFor="let preference of preferences" [value]="preference.value">
              {{preference.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>


      <mat-divider></mat-divider>
    </mat-card-actions>
    <mat-card-actions align="end">
      <button mat-button>Buscar</button>
      <button mat-button>Cancelar</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-grid-list cols="2" rowHeight="2:1">
      <mat-grid-tile>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1Acn2j8EOnJNPMWsfThMzs_VRvkStwVk&ehbc=2E312F" width="640" height="480"></iframe>
      </mat-grid-tile>
      <mat-card>
        <mat-grid-tile>PROFILE</mat-grid-tile>


      </mat-card>
    </mat-grid-list>
  </mat-card>

