
<div class="container">
  <h2 class="title">Visualizamos un mundo mejor gracias a los viajes y un viaje más rico gracias a la conexión</h2>
  <div class="outer-card">
    <div class="inner-card">
      <div class="image1">
        <a></a>
      </div>
      <h3 class="sub-title">Viajar el mundo</h3>
      <p class="info">Con Tourmates, <strong>puedes quedarte con locales en todos los países del mundo.</strong> Viaja como un lugareño, quédate en casa de alguien y experimenta el mundo de una manera que el dinero no puede comprar.</p>
    </div>
    <div class="inner-card">
      <div class="image2">
        <a></a>
      </div>
      <h3 class="sub-title">Redescubre tu ciudad</h3>
      <p class="info"><strong>Hay una comunidad de Couchsurfers cerca de ti.</strong> Muchas ciudades tienen intercambios de idiomas semanales, clases de baile, caminatas y cenas. Hacer nuevos amigos.</p>
    </div>
    <div class="inner-card">
      <div class="image3">
        <a></a>
      </div>
      <h3 class="sub-title">Conviértete en anfitrión</h3>
      <p class="info"><strong>Retribuya y abra su hogar a los viajeros.</strong> Aprende sobre una nueva cultura de primera mano o practica un idioma. Haz el mundo un poco más pequeño; un poco más amigable.</p>
    </div>

  </div>
</div>

