.container{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-container {
  display: flex;
  align-items: center;
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;

}

.company-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 20px;
  color: white;
}

.options-toolbar {
  font-size: 20px;
  font-weight: bold;
  font-size: smaller;
  margin-right: 20px;
  color: white;
}
.button-toolbar{
  border: none;
  background: none;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
}
.buttonK-toolbar{
  border: 1px solid royalblue;
  border-radius:10px ;
  background: royalblue;
  padding: 8px;
  text-decoration: none;
  cursor: pointer;
}


.toolbar-container {
  background-color: #fff;
  border-radius: 0 0 50% 50% / 0 0 10px 10px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
}
.toolbar{
  background-color: darkblue;
  color: black;
  height: 64px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icono-y-texto {
  display: flex;
  align-items: center;
  color: black;
  padding-top: 20px;
}

.mat-form-field{
  background: royalblue;
  padding: 0px;
}
.custom-form-field {
  width: 200px; /* Ajusta el ancho según tus necesidades */
}
.custom-form-field mat-select {
  width: 100%; /* Ajusta el ancho según tus necesidades */
}
