<app-header></app-header>
<div class="container">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput placeholder="Name" name="name" formControlName="name">
      <mat-error *ngIf="registerForm.controls['name'].invalid && (registerForm.controls['name'].dirty || registerForm.controls['name'].touched)">
        <span *ngIf="registerForm.controls['name'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput placeholder="Last Name" name="lastname" formControlName="lastname">
      <mat-error *ngIf="registerForm.controls['lastname'].invalid && (registerForm.controls['lastname'].dirty || registerForm.controls['lastname'].touched)">
        <span *ngIf="registerForm.controls['lastname'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Phone Number</mat-label>
      <input matInput placeholder="Phone Number" name="phone" formControlName="phone">
      <mat-error *ngIf="registerForm.controls['phone'].invalid && (registerForm.controls['phone'].dirty || registerForm.controls['phone'].touched)">
        <span *ngIf="registerForm.controls['phone'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field  appearance="outline" class="example-full-width">
      <mat-label>Age</mat-label>
      <input matInput placeholder="Age" name="Age" formControlName="Age">
      <mat-error *ngIf="registerForm.controls['Age'].invalid && (registerForm.controls['Age'].dirty || registerForm.controls['Age'].touched)">
        <span *ngIf="registerForm.controls['Age'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Email</mat-label>
      <input type="text" matInput  formControlName="email"  >
      <mat-error *ngIf="registerForm.controls['email'].invalid && (registerForm.controls['email'].dirty || registerForm.controls['email'].touched)">
        <span *ngIf="registerForm.controls['email'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>    </mat-form-field>

    <mat-form-field appearance="outline" class="example-full-width">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" >
      <mat-error *ngIf="registerForm.controls['password'].invalid && (registerForm.controls['password'].dirty || registerForm.controls['password'].touched)">
        <span *ngIf="registerForm.controls['email'].errors?.['required']">Este campo es requerido.</span>
      </mat-error>
    </mat-form-field>
    <mat-radio-group formControlName="type" aria-label="Select a option">
      <mat-radio-button id="viajero" value="viajero" required></mat-radio-button>
      <label for="viajero">Traveler</label>

      <mat-radio-button id="empresa" value="empresa" required></mat-radio-button>
      <label for="empresa">Bussiness</label>
    </mat-radio-group>
    <div class="button-container">
      <button  [disabled]="registerForm.invalid" type="submit">Sign Up</button>
    </div>
  </form>
</div>
