.traveller-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.traveller-card {
  width: 300px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(242, 213, 121, 0.7);
  border-radius: 8px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}
.favorite-button mat-icon {
  color: #e91e63 !important;
}

.message-button mat-icon {
  color: white !important;
}

.traveller-profile {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  background-color: rgba(242, 181, 107, 0.8);
}

.traveller-profile img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.mat-card-content {
  padding: 16px;
  text-align: center;
  color: black; /* Agrega color de texto */
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
  transition: transform 0.3s ease;
}

button:focus {
  outline: none;
}

button.active {
  transform: scale(1.2);
}

button mat-icon {
  color: rgba(89, 25, 11, 0.7); /* Cambia el color del icono */
}

/* Estilos para los botones */
button.mat-icon-button {
  background-color: rgba(242, 226, 196, 0.8); /* Color del botón */
  border-radius: 50%; /* Hace que el botón sea redondo */
  padding: 10px; /* Espacio interno del botón */
}

button.mat-raised-button {
  background-color: rgba(191, 113, 84, 0.8); /* Color del botón */
  color: white; /* Color del texto */
  border-radius: 8px; /* Bordes redondeados */
  padding: 10px 20px; /* Espacio interno del botón */
  margin: 5px; /* Espacio entre botones */
}
