


  <div class="container">
    <div class="select-options">
      <label for="option1">Seleccione su distrito:</label>
      <select id="option1">
        <option value="valor1">San Miguel</option>
        <option value="valor2">Miraflores</option>
        <option value="valor3">San Isidro</option>
        <option value="valor4">Surco</option>
        <option value="valor5">La Molina</option>
      </select>
      <br>
      <label for="option2">Seleccione su interés:</label>
      <select id="option2">
        <option value="valor1">Treking</option>
        <option value="valor2">Ciclismo</option>
        <option value="valor3">Naturaleza</option>
        <option value="valor4">Alpinismo</option>
        <option value="valor5">Canoping</option>
      </select>
      <br>
    </div><br>
      <div class="profile-card">
        <img src="../src/assets/image/photo-profile.jpg" alt="Perfil">
        <h3>Nombre del Perfil</h3>
        <p>Descripción del perfil...</p>
      </div>
  </div>
